- name: Deploy Web Server using Docker
  hosts: localhost
  become: true

  tasks:
    - name: Install Docker
      apt:
        name: docker.io
        state: present
        update_cache: yes

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: true

    - name: Install Python Docker module
      apt:
        name: python3-docker
        state: present

    - name: Pull nginx image
      docker_image:
        name: nginx
        source: pull

    - name: Run nginx container
      docker_container:
        name: webserver
        image: nginx
        state: started
        restart_policy: always
        ports:
          - "80:80"

